
body{background-color:#FEE9D8 }

h1{border: double #DEB887 2pt; 
  text-align: center;
  margin-left: 10%;
  color:#DEB887;
}
p{font-size: 1em}

h1::first-letter{color: #A52A2A; font-style: italic; font-size: 100px;}
p::first-letter{
  font-size: 250%;
  font-weight: bold;
  font-style: italic;
  color: #A52A2A 
}

table{
  background-color:#DEB887; border: ridge 3pt;
  border-color: #A52A2A; width: 50%;

}
img{ width: 20%;
  position: absolute;
  right: 10%;
}


fieldset{border: double 2pt #A52A2A;
        width: 50%;
        margin-top: 5pt;

        margin-bottom: 20pt;



}

th{ border: solid 1px #A52A2A; 


}
.gras{font-weight: bold;}
hr{border: inset; border-color: #A52A2A; padding: 1px; page-break-inside: 1px}

hr{
  margin-top: 20%;

bottom: 2px;
 border-color: outset;
 width: 100%;
 clear: both;
}


/* Style attendu pour Cinema 

fond de page : #FEE9D8

titre : bordure double #DEB887 2pt
        texte centré de couleur #DEB887
      largeur 60%
        marge extérieure gauche 10%
        1ère lettre deux fois et demi plus grande, italique de couleur #A52A2A


paragraphe 1ère lettre en gras deux fois et demi plus grande, italique de couleur #A52A2A


encadré : largeur 80%
          bordure de couleur #A52A2A 2pt
          marge extérieure haute 5pt, basse 20pt

image : largeur 80%

légendes diverses en gras

tableau : fond #DEB887, bordure effet 3D clair/foncé de couleur #A52A2A
 

ligne horizontale : bordure effet 3D clair/foncé de couleur #A52A2A
                    marge intérieure 1pt
                    longueur sur toute la page

encadré+tableau calé à gauche, image à droite, ligne horizontale en dessous

*/